.bordure {
	border: 2px solid black;
}

h1 {
	background-color: aquamarine;
}

.panneau_gauche {
	background-color: green;
}

.panneau_droit {
	background-color: yellow;
}

#latable li {
	list-style-type: none;
	font-size: 130%;
}